.nav{
    text-align: center;
    background: teal;
    height: 80px;
    margin-bottom: 30px;
}
.header-title{
    padding: 20px;
    margin: auto;
    color: thistle;
}
.card{
   text-align: center;
}
.card-top{
    background: teal;
}
#monthly-plan{
    background: orangered;
}
.card-top h5{
    padding: 5px 0;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    width: 100px;
    margin-left: 95px;
    margin-top: 10px;
}
.card-top h2{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
.card-top p{
    color: #fff;
}
.card-body{
    text-align: left;
}
.card-body ol{
    list-style: none;
    counter-reset: counter;
}
.card-body ol li{
    counter-increment: counter;
    margin-top: 5px;
}
.card-body ol li::before{
    content: counter(counter);
    margin-right: 0.8rem;
    background: teal;
    border-radius: 50%;
    color: #fff;
    width: 2rem;
    height: 2rem;
    padding-top: 0.4rem;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}
.btn{
    margin-left: 95px;
    background: teal;
    border: none;
}
